/* styles.css */

.overall {
    background-color: rebeccapurple;
}

.header {
    font-family: fantasy;
    font-style: oblique;
}

.links {
    font-weight: bold;
}

.header,
 .links {
    color: whitesmoke;
    font-size: 32px;
}
